.main{
	.main_box{
		width: 1260px;
		min-height: 500px;
		border:1px solid;
		.buy_box{
			text-align: center;
		}
	}
	.total{
		width: 1260px;
		height: 50px;
		border:1px solid;
		overflow: hidden;
		.tijiao{
			float: right;
			width: 100px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			background: #ae7e4d;
			border: none;
			outline: none;
		}
	}
}