.main{
	position: relative;
	width: 1250px;
	height: 476px;
	overflow: hidden;
	background: url(/images/login/loginbg.jpg) no-repeat;
	background-position: -280px  0px;
	.zc_box{
		width: 300px;
		height: 400px;
		border: 1px solid;
		position: absolute;
		top:0px;
		bottom: 0px;
		margin:auto 0;
		right: 200px;
		background: #fff;
		h2{
			text-align: center;
			font-size: 20px;
			border-bottom:2px solid;
		}
		#zc{
			margin-top: 50px;
			padding: 0 20px;
			height: 360px;
			font-size: 20px;
		}
	}
}